@import "./setting.scss";

.footer {
    width: 100%;
    margin: 5rem auto 0;
    // padding-top: 3rem;
    text-align: center;
    line-height: 3rem;
    // border-top: solid 1px $color1;
    position: relative;
    &::before {
        content: "";
        display: block;
        height: 1px;
        width: 80%;
        background: $color1;
        margin: 0 auto;
    }
    & ul {
        margin-top: 2.5rem;
        list-style-type: none;
    }
    & h3 {
        font-size: calc(1rem + 1.3vw);
    }
    & li {
        font-size: calc(0.7rem + 0.9vw);
        cursor: pointer;
    }
    & p {
        font-size: calc(0.7rem + 0.8vw); 
    }
    &-links {
        padding: 0;
    }
}