@import "./setting.scss";

.navBar {
  & a {
    text-decoration: none;
  }
  &-top {
    // height: 6rem;
    padding: 1rem 8%;
    color: white;
    background-color: $color1;
    justify-content: space-between;
    align-items: center;
    font-size: calc(1rem + 0.8vw);
    
    // @media (max-width: 768px) {
    //     flex-direction: column;
    //     padding: 1rem 0;
    // }
  }
  &-topText {
    font-size: calc(1rem + 0.6vw);
  }
  &-btnLog {
    display: flex;
  }
  &-topMenu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  &-topMenu div {
    margin-right: 0.9rem;
    color: white;
  }
  &-topMenuLink {
    cursor: pointer;
  }
  &-formSearch {
    background: white;
    border-radius: 5px;
    // margin-top: 0.5rem;
    button {
      border: none;
      background: white;
      cursor: pointer;
      border-radius: 5px;
    }
    input {
      border: none;
      border-radius: 5px;
    }
  }
  &-iconCart {
    margin-left: 2rem;
  }
  &-bottom {
    color: $color1;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    h1 {
      margin: 0;
      text-align: center;
      position: relative;
      bottom: 2.5rem;
      right: -0.5rem;
    }
  }
  &-bottomLogo {
    width: 200px;
    height: 200px;
  }
  &-bottomLogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-bottomMenu {
    width: 100%;
  }
  &-btnMenuToogle {
    display: none;
    color: $color1;
  }
  &-bottomMenuLink {
    font-size: calc(1.5rem + 1vw);
    margin-right: 2.5rem;
    cursor: pointer;
    color: $color1;

    &:hover {
      filter: brightness(1.5);
    }
  }
  .toogleMenu {
    width: 100%;
    display: none;
    & ul {
        list-style-type: none;
        padding: 0;
    }
    & li {
        color: white;
        border-top: solid 1px rgba(255, 255, 255, 0.792);
        padding: 0.5rem 0;
        font-weight: bold;
        
    }
  }
  @media (max-width: 768px) {
    .navBar-top {
        flex-direction: column;
    }
    .navBar-topText {
      margin-bottom: 0.5rem;
    }
    .navBar-topMenu {
        width: 100%;
        justify-content: space-between;
    }
    .navBar-btnMenuToogle {
        display: block;
    }
    .navBar-formSearch {
        display: none;
    }
    .navBar-btnLog {
        display: none;
    }
    .toogleMenu {
        display: block;
    }
    .navBar-bottomLeft {
      display: none;
    }
    .navBar-bottom {
      justify-content: center;
    }
  }
}
